<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">
                Sobre mí
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed asperiores delectus sint cumque. Similique excepturi atque iste quae sint expedita aut minima possimus mollitia, est autem aspernatur sapiente rem voluptates pariatur. Eaque pariatur distinctio adipisci eligendi soluta debitis error cumque vero similique, possimus quod necessitatibus atque quo temporibus quaerat! Deserunt ullam est veniam maiores unde. Natus consequatur consequuntur numquam maiores molestias, quis, perferendis dolores ad obcaecati voluptatum aperiam suscipit facere pariatur porro a fugiat vel, fuga ea minus! Nam facere nemo accusamus est odit omnis dolor eligendi in beatae sapiente dignissimos illo sequi nihil quo at expedita, optio esse modi. Necessitatibus debitis illum doloremque voluptatibus vitae cupiditate amet tempore alias, quae facere corporis, iste vero, in dolor omnis inventore cumque maxime. Tempora deserunt cumque alias perferendis repudiandae dignissimos iure! Nihil officiis neque quisquam eum quaerat esse, ipsam eos laudantium commodi? Ipsum, alias animi. Voluptatem veniam expedita, minus voluptate quidem ipsa voluptatibus cumque optio, magni perspiciatis quisquam quod officia aliquam sed est ea sequi, nulla dicta provident voluptas dolore deleniti rem? Vitae quod accusamus dicta excepturi, iusto iste adipisci dolorum exercitationem provident neque voluptatibus. Tenetur quidem voluptatem qui cupiditate praesentium eligendi magni quae dicta sunt eaque, impedit nesciunt, laboriosam excepturi aut perferendis nisi natus reiciendis fuga. Ducimus harum cupiditate laboriosam dolores odio deserunt odit at. Facere ipsam libero dolorem deserunt error, inventore amet magni, suscipit praesentium sed impedit reprehenderit minima voluptate pariatur? A commodi laborum iusto repellendus? Veniam distinctio doloremque totam nam qui fugit, reiciendis dignissimos assumenda hic praesentium voluptate eligendi? Doloremque possimus officiis mollitia, tenetur perspiciatis iste vel repellat ea et quasi eum numquam, exercitationem aut architecto nostrum at impedit a ullam perferendis vero modi molestiae doloribus. Cupiditate, non, suscipit dolore perspiciatis deleniti alias a quas reiciendis aperiam perferendis nulla odit ullam ratione tempora nihil similique amet fugiat placeat harum!
            </p>
        </section>
    </main>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>