<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <!-- Main Content -->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/nodelogo.png" alt="Logo de node JS" class="w-25">
            <h1 class="display-1 my-5 text-uppercase fw-bold">
                Website
            </h1>
            <a href="/about" class="btn btn-primary w-25">Sobre mí</a>
        </div>
    </header>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>